aws-lambda-powertools[aws-sdk]==2.42.0

orjson==3.10.4
python-dotenv==1.0.1
dependency-injector-fork==4.42.1

youtube-transcript-api==0.6.2

fastapi==0.112.0
pydantic==2.8.2
pydantic-settings==2.4.0

redis==5.0.8
redis-om==0.3.1
hiredis==2.4.0

uvloop==0.19.0
gunicorn==22.0.0
uvicorn==0.30.5
